{% extends "core/base.html" %}

{% block main %}
<div class="row mt-5">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
      <div class="card border-danger" style="width:500px">
          <h5 class="mt-2 px-3">Exclusão de aluno</h5>
          <div class="card-body text-danger">
            <span>Tem certeza que deseja deletar {{ obj }} ?</span>
            <form method="POST" class="mt-4">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger "> Sim </button>
                <a href="{% url 'core_list_student' %}" class="btn btn-primary ">Não</a>
            </form>
          </div>
      </div>
  </div>
  <div class="col-sm-3"></div>

</div>
{% endblock %}
