{% extends "core/base.html" %}
{% load static %}

{% block main %}
    <div class="container mt-5">
  <h5>Lista de Cursos</h5>
  <p>Abaixo a lista de cursos cadastrados</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Curso</th>
        <th>Periodo</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for courses in course %}
      <tr>
          <td>{{ courses.name }}</td>
          <td>{{ courses.period }}</td>
        <td><a href="{% url 'core_update_course' courses.id %}"> <img src="{% static 'img/baseline_edit_black_18dp.png' %}"></a>
            <a href="{% url 'core_delete_course' courses.id %}"> <img src="{% static 'img/baseline_delete_black_18dp.png' %}"></a>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
