{% extends "core/base.html" %}
{% load static %}
{% block main %}
<div class="container mt-5">
  <h4>Lista de alunos</h4>
  <p>Abaixo a Lista de alunos cadastrados</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Matricula</th>
        <th>Nome</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for students in student %}
      <tr>
          <td>{{ students.subscription }}</td>
          <td>{{ students.name }}</td>
        <td><a href="{% url 'core_update_student' students.id %}"> <img src="{% static 'img/baseline_edit_black_18dp.png' %}"></a>
            <a href="{% url 'core_delete_student' students.id %}"> <img src="{% static 'img/baseline_delete_black_18dp.png' %}"></a>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
