{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Control Activity{% endblock %}</title>

    <link
            rel="stylesheet"
            media="all"
            href="{% static 'font-awesome/css/font-awesome.css' %}"
            type="text/css"
            charset="utf-8"
    />
    <link
            rel="stylesheet"
            media="all"
            href="{% static 'bootstrap/dist/css/bootstrap.css' %}"
            type="text/css"
            charset="utf-8"
    />
</head>

<body>

    {% block menu %} {% endblock %}

<div class="row"></div>
<div class="container mt-5">
    {% block main %} {% endblock %}
</div>

<script src="{% static 'jquery/jquery.js'%}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.js'%}"></script>
<script src="{% static 'popper.js/dist/popper.js'%}"></script>
{% block script %} {% endblock %}
</body>
</html>
