{% extends "base.html" %}

{% block title %}Cadastro de usuario{% endblock %}
{% block main %}

<div class="row">
<div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card w-100" >
              <div class="card-body">
                      {% if msg == 'true' %}
                        <span style="color: green"> Cadastro efetuado com sucesso!</span>
                      {% endif %}
                      <form method="POST" class="was-validated">
                          {% csrf_token %}

                          <div class="form-group">
                            <label for="userName">Usuário</label>
                            <input type="name" class="form-control" id="userName" name="user" placeholder="digite seu nome aqui">
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Endereço de email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="nome@exemplo.com">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name='senha' placeholder="Senha">
                          </div>
                          <button class="btn btn-primary"> Cadastrar</button>
                      </form>
              </div>
            </div>
        </div>
<div class="col-md-4"></div>
</div>
{% endblock %}
