{% extends "base.html" %}
{% block title %}Cadastro de estudante{% endblock %}

{% block menu %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Ftceiraidade</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <a class="nav-item nav-link" href="{% url 'courses' %}">Cursos</a>
                <a class="nav-item nav-link" href="{% url 'activities' %}"
                >Atividades</a
                >
            </div>
        </div>
        {% if user.is_authenticated %}
            <a class="nav-item nav-link disabled text-white mr-5" href="#"> Bem Vindo(a) {{ request.user }}</a>
        {% endif %}
    </nav>
{% endblock %}

{%block main %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card w-100">
            <div class="card-body">
                {% if msg == 'true' %}
                <span style="color: green"> Cadastro efetuado com sucesso!</span>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input
                                type="name"
                                class="form-control"
                                id="name"
                                name="name"
                                placeholder="insira seu nome aqui"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="userName">Usuário</label>
                        <input
                                type="name"
                                class="form-control"
                                id="userName"
                                name="user"
                                placeholder="insira seu usuário"
                                required
                        />
                    </div>
                    <div class="form-group was-validated">
                        <label for="exampleFormControlInput1">Endereço de email</label>
                        <input
                                type="email"
                                class="form-control"
                                id="exampleFormControlInput1"
                                name="email"
                                placeholder="nome@exemplo.com"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                name="senha"
                                placeholder="Senha"
                                required
                        />
                    </div>
                    <button class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
